$montserrat: 'Montserrat', sans-serif;

$white: #fff;
$mildGrey: #ececec;
$grey: #e6e6e6;
$darkGrey: #8d8d8d;
$strongGrey: #6d6d6d;
$blue: #407bff;
$midBlue: #394e80;
$darkBlue: #293653;
$green: #3CB371;
$orange: #b3723c;
$red: #991c1c;