.backgroundOverlay {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 20;
    transition: all 0.35s ease;
    opacity: 0;
    pointer-events: none;

    &.open {
        opacity: 1;
        pointer-events: all;
    }
}