.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: $darkBlue;
            font-size: 2.35rem;
            font-weight: 700;
            max-width: 280px;
            text-align: center;
            letter-spacing: 2px;
            
            @media (max-width: 415px) {
                font-size: 2.1rem;
                max-width: 300px;
            }
        }

        .calendarImage {
            width: 480px;
            object-fit: contain;

            @media (max-width: 575px) {
                width: 315px;
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 22px;
                margin-right: 7px;
            }
        }
    }
}
